presentation.aux
presentation.fdb_latexmk
presentation.fls
presentation.log
presentation.nav
presentation.out
presentation.pdf
presentation.snm
presentation.synctex.gz
presentation.toc
presentation-new.aux
presentation-new.fdb_latexmk
presentation-new.fls
presentation-new.log
presentation-new.nav
presentation-new.out
presentation-new.pdf
presentation-new.snm
presentation-new.synctex.gz
presentation-new.toc
